[user]
	email = 1441545405@qq.com
	name = moonmoonCL

[core]
	pager = delta

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
	side-by-side = true
	line-numbers = true

[merge]
	conflictstyle = zdiff3
[url "git@github.com:"]
	insteadOf = https://github.com/
